<%- include("./partials/header") %>
<!-- <%- include("./partials/nav") %> -->

<div class="alert alert-danger" role="alert">
    <strong>Something Went Wrong.</strong>
    <%= err %>>
</div>

<%- include("./partials/footer") %>
